transformers
langchain==0.0.292
langchain-core==0.0.20
faiss-cpu
torch
google-genai
python-dotenv
langchain-community==0.0.18
duckduckgo-search
langchain_google_genai==0.0.7
PyPDF2
google-generativeai
sentencepiece
hf_xet
sentence-transformers
ddgs
Pypdf
streamlit
fpdf2





