transformers
langchain==0.0.332
faiss-cpu
torch
google-genai
python-dotenv
langchain-community
duckduckgo-search
langchain_google_genai==0.0.12
PyPDF2
google-generativeai
sentencepiece
hf_xet
sentence-transformers
ddgs
Pypdf
streamlit
 fpdf2



